@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  position: relative;
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
}

.non {
  text-decoration: none;
  color: aliceblue;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.home {
  display: flex;
  height: 100vh;
  color: black;
  min-height: 500px;
  background: url("rashmiHome.jpeg") no-repeat center;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
  color: crimson;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  color: white;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
  color: white;
}
.home .home-content .text-2 span {
  color: crimson;
}
.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}
/*for all */
section {
  padding: 100px 0;
}
.about,
.about-content,
.skill {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.skill .skill-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: black;
  transform: translateX(-50%);
}
section .title::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 5px;
  background: white;
  transform: translateX(-50%);
}
/*About section*/
.about .title::after {
  content: "Who am I";
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 45%;
}
.about .about-content .right .text1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text1 span {
  color: crimson;
  font-size: 30px;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 1px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: crimson;
  background: none;
}
/* Skill section*/
.skill .title ::after {
  content: "what i know";
}
.skill .skill-content .column {
  width: calc(50% - 30px);
}
.skill .skill-content .left .text1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skill .skill-content .right .bars {
  margin-bottom: 15px;
}

.skill .skill-content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill .skill-content .right span {
  font-weight: 500;
  font-size: 18px;
}

/*<!contact section>*/
.contact.title::after {
  content: "get in touch";
}
.contact.contact-content {
  text-align: center;
  justify-content: center;
}
.contact .contact-content a {
  display: inline-block;
  color: black;
  font-size: 25px;
}
.info div {
  width: 100%;
  background: orangered;
  border: 2px solid orangered;
  border-radius: 6px;
  padding: 12px 36px;
  margin-top: 20px;
}
/*Responsive*/

/*tablet screen lagi*/
@media (max-width: 990px) {
  .home {
    width: 100%;
  }
  .home .home-content .text-2 {
    font-size: 55px;
  }
  .home .home-content .text-3 {
    font-size: 20px;
  }
  /*about section*/
  .about .title {
    font-size: 35px;
  }
  .about .title::after {
    font-size: 15px;
  }
  .about .about-content .left img {
    height: 300px;
    width: 300px;
  }
  .about .about-content .column {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .text1 {
    font-size: 20px;
    font-weight: 400 bold;
  }
  .about .about-content .right .text1 span {
    font-size: 22px;
  }
  .about .about-content .right a {
    font-size: 18px;
    padding: 7px 20px;
    color: black;
  }
  /*Skill section*/
  .skill .title {
    font-size: 35px;
  }
  .skill.title.title::after {
    font-size: 15px;
  }
  .skill .skill-content .column {
    width: 100%;
  }
  .skill .skill-content p {
    text-align: justify;
  }
  /*contact section*/
  .contact.contact-content a {
    font-size: 10px;
    padding: 5px 20px;
    width: 100%;
  }
  .contact .contact-content {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
/*mobile screen lagi
@media (max-width: 320px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 15px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 6px 25px;
  }
  .about .title {
    font-size: 25px;
  }
  .about .title::after {
    font-size: 10px;
  }
  .about .about-content .left img {
    height: 200px;
    width: 200px;
  }
  .about .about-content .column {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
}*/
